<% provide(:title, '| Home') %>
<div class="container center">
  <div class="title center">
    <p class="banner-text">Stolen Bicycle Registry</p>
  </div>
  <p class="lead sign-in">A free resource to register and track stolen bicycles.</p>

  <div>
    <% if @user %>
      <%= form_tag search_path, method: 'get' do %>
        <%= hidden_field_tag name="query[city]", @user.city %>
        <%= hidden_field_tag name="query[region]", @user.region %>
        <%= submit_tag "See local listings for #{ @user.city }, #{ @user.region }",
            class: 'btn btn-info', id: 'region-search' %>
      <% end %>
    <% end %>
  </div>

  <div class="row">
    <div class='col-md-4 home-div'>
      <div class="home-info lead well use" rel='<%= new_user_registration_path %>'>
        <h3 class="lead aboutbox">Register!</h3>
        <div>
          <p class="hometext">Maybe you just had your bike stolen.</p>
          <p class="hometext">Maybe you're buying a used bike and want to run its serial number first.</p>
          <p class="hometext">Maybe you work for a bike shop and want to know if that trade-in is hot.</p>
          <%= image_tag "bicycle.png", :class => "img-responsive twitterlogo", id: 'bicycle-icon', :alt => "Register!" %>
        </div>
      </div>
    </div>

    <div class='col-md-4 home-div'>
      <div class="home-info lead well search" rel='<%= search_path %>'>
        <h3 class="lead aboutbox">Search</h3>
        <p class="hometext">The Stolen Bicycle Registry allows users to search through a database, report stolen bicycles, and stay up-to-date on a stolen bike's status.</p>
        <%= image_tag "magnifying_glass.png", :class => "img-responsive twitterlogo", id: 'search-icon', :alt => "Search!" %>
      </div>
    </div>

    <div class='col-md-4 home-div'>
      <div class="home-info lead well follow" rel='<%= twitter_path %>'>
        <h2 class="lead aboutbox">Follow</h2>
        <p class="hometext">Twitter is a great tool when it comes to locating stolen bikes.</p>
        <p class="hometext">Click to see if your city has its own Stolen Bike Registry Twitter feed.</p>
        <%= image_tag "twitter-bird.png", :class => "img-responsive twitterlogo", id: 'tweet-icon', :alt => "Follow us on Twitter!" %>
      </div>
    </div>
  </div>
</div>
