<% provide(:title, '| Team Epicodus') %>
<div class="container">
  <h1 class="center lead title">Team Epicodus</h1>
  <hr>
  <div class="links center">
    <p>The team that rebuilt the Stolen Bicycle Registry (aka SBR 2.0) is from <a href="http://www.learnhowtoprogram.com" target="_blank">Epicodus</a> Web Development school, right here in Portland.</p>
  </div>
  <div class="team center">
    <div>
      <row>
        <div class="col-md-3 ch-item">
          <a href="http://github.com/corbindarras" target="_blank"><%= image_tag "Corbin.png", :class => "img-responsive img-circle", id: 'Corbin', :alt => "Corbin" %></a>
          <p class="ch-info team name">Corbin Dahl</p>
        </div>
        <div class="col-md-3 col-sm-offset-1 ch-item">
          <a href="http://github.com/dangoldgriff" target="_blank"><%= image_tag "Dan.png", :class => "img-responsive img-circle", id: 'Dan', :alt => "Dan" %></a>
          <p class="ch-info team name"> Dan Griffin</p>
        </div>
        <div class="col-md-3 col-sm-offset-1 ch-item">
          <a href="https://github.com/abbysmalls" target="_blank"><%= image_tag "Abby.png", :class => "img-responsive img-circle", id: 'Abby', :alt => "Abby" %></a>
          <p class="ch-info team name"> Abby Ihrig</p>
        </div>
      </div>
    </row>
    <div class="bottom-row">
      <div class="col-md-3 col-md-offset-2 ch-item">
        <a href="https://github.com/kowser" target="_blank"><%= image_tag "Michal.png", :class => "img-responsive img-circle", id: 'Michal', :alt => "Michal" %></a>
        <p class="ch-info team name"> Michal Kaszubowski</p>
      </div>
      <div class="col-md-3 col-md-offset-1 ch-item">
      <a href="https://github.com/broguinn" target="_blank"><%= image_tag "Braden.png", :class => "img-responsive img-circle", id: 'Braden', :alt => "Braden" %></a>
        <p class="ch-info team name"> Braden O'Guinn</p>
      </div>
  </div>
  </div>
</div>