<div class="well">
  <div class='form-center'>
    <h1>Sign up</h1>
    <hr>
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      
      <div class="input-group">
        <span class="input-group-addon label-info">First Name</span>
        <%= f.text_field :first_name, :autofocus => true, placeholder: 'First Name', class: "form-control" %>
      </div>

      <div class="input-group">
        <span class="input-group-addon label-info">Last Name</span>
        <%= f.text_field :last_name, placeholder: 'Last Name', class: "form-control" %>
      </div>

      <div class="input-group">
        <span class="input-group-addon label-info">Email</span>
        <%= f.email_field :email, placeholder: 'Email', class: "form-control" %>
      </div>
      
      <div>
        <%= f.select :country, ['Canada', 'United States'],
                   { :include_blank => 'Select Country' }, { class: 'user-country' } %>
      </div>

      <div class="input-group">
        <span class="input-group-addon label-info">City</span>
        <%= f.text_field :city, placeholder: 'City', class: "form-control" %>
      </div>

      <div id="regions-and-postal-codes">
        <% if @user.country == 'Canada' %>
          <%= render 'shared/ca_regions_and_postals', f: f %>
        <% else %> 
          <%= render 'shared/us_regions_and_postals', f: f %>
        <% end %>
      </div>

      <div class="input-group">
        <span class="input-group-addon label-info">Phone</span>
        <%= f.text_field :phone1, placeholder: 'Phone', class: "form-control" %>
      </div>

      <div class="input-group">
        <span class="input-group-addon label-info">Phone 2</span>
        <%= f.text_field :phone2, placeholder: 'Phone 2', class: "form-control" %>
      </div>

      <div class="input-group">
        <span class="input-group-addon label-info">Password</span>
        <%= f.password_field :password, placeholder: 'Minimum 8 char.', class: "form-control" %>
      </div>

      <div class="input-group">
        <span class="input-group-addon label-info">Password</span>
        <%= f.password_field :password_confirmation, placeholder: 'Confirm password', class: "form-control" %>
      </div>

      <div class="well">
        <div class="panel panel-default">
          <div class="panel-heading">
            Check which info to display publicly on your listing:
          </div>
          <div class='list-group'>
            <span class="list-group-item">
            <%= f.check_box :first_name_public %> <%= f.label :first_name %>
            </span>
            <span class="list-group-item">
            <%= f.check_box :last_name_public %> <%= f.label :last_name %>
            </span>
            <span class="list-group-item">
            <%= f.check_box :email_public %> <%= f.label :email %>
            </span>
          </div>
        </div>
      </div>
      <div><%= f.submit "Sign up", :class => 'btn btn-success' %>
      </div>
      <div>
        <%= render "devise/shared/links" %>
      </div>
    <% end %>
  </div>
</div>
