<br>
<br>
<div class="well sign-in">
  <h2>Sign up</h2>
  <hr>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div class="input-group">
    <span class="input-group-addon label-danger">First Name</span>
    <%= f.text_field :first_name, :autofocus => true, placeholder: 'First Name', class: "form-control" %>
  </div>

  <div class="input-group">
    <span class="input-group-addon label-danger">Last Name</span>
    <%= f.text_field :last_name, placeholder: 'Last Name', class: "form-control" %>
  </div>

  <div class="input-group">
    <span class="input-group-addon label-danger">Email</span>
    <%= f.email_field :email, placeholder: 'Email', class: "form-control" %>
  </div>

  <div class="input-group">
    <span class="input-group-addon label-danger">City</span>
    <%= f.text_field :city, placeholder: 'City', class: "form-control" %>
  </div>

    <div id="regions-and-postal-codes">
    <% if @user.country == 'Canada' %>
      <%= render 'shared/ca_regions_and_postals', f: f %>
    <% else %> 
      <%= render 'shared/us_regions_and_postals', f: f %>
    <% end %>
  </div>

  <div class="input-group">
    <span class="input-group-addon">Phone</span>
    <%= f.text_field :phone1, placeholder: 'Phone', class: "form-control" %>
  </div>

  <div class="input-group">
    <span class="input-group-addon">Phone 2</span>
    <%= f.text_field :phone2, placeholder: 'Phone 2', class: "form-control" %>
  </div>

  <div class="input-group">
    <span class="input-group-addon">Password</span>
    <%= f.password_field :password, placeholder: 'Password (min 8 char.)', class: "form-control" %>
  </div>

  <div class="input-group">
    <span class="input-group-addon">Password</span>
    <%= f.password_field :password_confirmation, placeholder: 'Password Confirmation', class: "form-control" %>
  </div>

  <div>
    <%= f.label :country, 'Country' %>
    <%= f.select :country, ['Canada', 'United States'],
               { selected: 'United States' }, { class: 'user-country' } %>
  </div>
  <div class="well sign-in">
    Check information to display publicly: 
    <div><%= f.check_box :first_name_public %> <%= f.label :first_name %></div>
    <div><%= f.check_box :last_name_public %> <%= f.label :last_name %></div>
    <div><%= f.check_box :email_public %> <%= f.label :email %></div>
  </div>
  <div class="sign-in" id="signup"><%= f.submit "Sign up", :class => 'btn btn-success' %>
    <br>
    <br>
    <%= render "devise/shared/links" %>
  </div>
  <% end %>

  
</div>
