<% provide(:title, '| My Account') %>
<div class="container">
  <h1 class="lead"><%= @user.admin? ? 'Admin Toolbox' : 'My Account' %></h1>
  <hr>
  <div class="lead">
    <div><strong>Name</strong>: <%= @user.first_name %> <%= @user.last_name %></div>
    <div><strong>Location</strong>: <%= @user.city %> <%= @user.region %>, <%= @user.postal_code %></div>
    <div><strong>Email</strong>: <%= @user.email %></div>
    <div><strong>Phone</strong>: <%= @user.phone1 %></div>
    <div><strong>Alt. Phone</strong>: <%= @user.phone2 %></div>
  </div>

  <div class="row">
    <div class='col-md-2'>
      <%= link_to 'Edit Account Info', edit_user_registration_path, :class => 'btn btn-info' %>
    </div>
    <% if !@user.admin? %>
      <div class='col-md-2'>
        <%= link_to 'Register a New Bicycle', new_bicycle_path, :class => 'btn btn-primary great-success' %>
      </div>
    <% end %>
  </div>
  <div class="bike-count">
    <p><%= pluralize(current_user.relevant_bicycles.count, 'bicycle') %> currently <%= @user.admin? ? 'pending:' : 'listed:' %></p>
  </div>
  <div class="center">
    <%= will_paginate @bicycles, renderer: BootstrapPagination::Rails %>
  </div>
  <div class="row">
    <% @bicycles.each do |bicycle| %>
      <%= render 'shared/bicycles', bicycle: bicycle %>
    <% end %>
  </div>
  <div class="center">
    <%= will_paginate @bicycles, renderer: BootstrapPagination::Rails %>
  </div>
</div>
