<h1 class="lead">My Account</h1>
<p>Logged in as: <%= current_user.email %></p>
<div><%= link_to 'Edit Account Info', edit_user_registration_path %></div>
<div><%= link_to 'Register a New Bicycle', new_bicycle_path %></div>

<p><%= pluralize(current_user.bicycles.count, 'bicycle') %> currently listed:</p>

<% @user.bicycles.each do |bicycle| %>
<div class='well'>
  <p>Stolen on: <%= bicycle.date %></p>


  <p><%= bicycle.brand %></p>
  <p><%= bicycle.model %></p>
  <p><a href=<%= bicycle_path(bicycle) %> ><%= image_tag bicycle.photo.url :thumb %></a></p>
  <p>
    <%= link_to 'View', bicycle_path(bicycle) %> |
    <%= link_to 'Edit', edit_bicycle_path(bicycle) %> | 
    <%= link_to 'Delete', bicycle_path(bicycle), method: 'delete', data: { confirm: "Are you sure you want to delete this listing?" } %>
    
  </p>
</div>
<% end %>

