<% provide(:title, '| My Account') %>
<div class="container">
  <div class="alert alert-success">
    <%= flash[:notice] %>
  </div>
  <h1 class="lead">My Account</h1>
  <hr>
  <div class="lead">
    <div><strong>Name</strong>: <%= @user.first_name %> <%= @user.last_name %></div>
    <div><strong>Location</strong>: <%= @user.city %> <%= @user.region %>, <%= @user.postal_code %></div>
    <div><strong>Email</strong>: <%= @user.email %></div>
    <div><strong>Phone</strong>: <%= @user.phone1 %></div>
    <div><strong>Alt. Phone</strong>: <%= @user.phone2 %></div>
  </div>

  <div class="row">
    <div class='col-md-2'>
      <%= link_to 'Edit Account Info', edit_user_registration_path, :class => 'btn btn-info' %>
    </div>
    <div class='col-md-2'>
      <%= link_to 'Register a New Bicycle', new_bicycle_path, :class => 'btn btn-primary great-success' %>
    </div>
  </div>
  <div class="bike-count">
    <p><%= pluralize(current_user.bicycles.count, 'bicycle') %> currently listed:</p>
  </div>
  <div class="row">
    <% @user.bicycles.order('date DESC').each do |bicycle| %>
      <div class='well col-md-3 bike-listing'>
        <p>Stolen on: <%= bicycle.date %></p>
        <p><%= bicycle.year %> <%= bicycle.brand %> <%= bicycle.model %></p>
        <p><a href=<%= bicycle_path(bicycle) %> ><%= image_tag bicycle.photo.url :thumb %></a></p>
        <p>
          <%= link_to 'View', bicycle_path(bicycle) %> |
          <%= link_to 'Edit', edit_bicycle_path(bicycle) %> |
          <%= link_to 'Delete', bicycle_path(bicycle), method: 'delete', data: { confirm: "Are you sure you want to delete this listing?" } %>
        </p>
        <%= form_for bicycle, remote: true do |f| %>
          <div>
            <%= f.check_box :recovered, id: 'recovered' %>
            <%= f.label :recovered, 'Bicycle Recovered' %>
          </div>
          <div>
            <%= f.check_box :hidden, id: 'hidden' %>
            <%= f.label :hidden, 'Listing Hidden' %>
          </div>
          <div>
            <%= f.submit 'Update Status', class: 'btn btn-warning btn-xs',
                                          id: 'status-update' %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
