<% provide(:title, '| Forgot Password') %>
<div class="well">
  <div class='form-center'>
    <h1 class= "lead title">Change your password</h1>
    <hr>

    <%= form_for(resource, :as => resource_name,
                           :url => password_path(resource_name),
                           :html => { :method => :put }) do |f| %>
      <div id='errors'>
        <%= render 'shared/errors', object: resource %>
      </div>

      <%= f.hidden_field :reset_password_token %>
      
      <div class="input-group">
        <span class="input-group-addon label-info">New Password</span>
        <%= f.password_field :password, placeholder: 'Minimum 8 char.', class: "form-control" %>
      </div>

      <div class="input-group">
        <span class="input-group-addon label-info">Confirm Password</span>
        <%= f.password_field :password_confirmation, placeholder: 'Confirm password', class: "form-control" %>
      </div>
      <div>
        <%= f.submit "Change Password", class: 'btn btn-success' %>
      </div>
      <div>
        <%= render "devise/shared/links" %>
      </div>
    <% end %>
  </div>
</div>
