<div class='well col-md-3 bike-listing'>
  <p>Stolen on: <%= bicycle.date %></p>
  <p><%= bicycle.year %> <%= bicycle.brand %> <%= bicycle.model %></p>
  <p><a href=<%= bicycle_path(bicycle) %> ><%= image_tag bicycle.photo.url :thumb %></a></p>
  <p>
    <%= link_to 'View', bicycle_path(bicycle) %> |
    <%= link_to 'Edit', edit_bicycle_path(bicycle) %> |
    <%= link_to 'Delete', bicycle_path(bicycle), method: :delete, data: { confirm: "Are you sure you want to delete this listing?" } %>
  </p>
  <%= form_for bicycle, remote: true do |f| %>
    <div>
      <%= f.check_box :recovered, id: 'recovered' %>
      <%= f.label :recovered, 'Bicycle Recovered' %>
    </div>
    <div>
      <%= f.check_box :hidden, id: 'hidden' %>
      <%= f.label :hidden, 'Listing Hidden' %>
    </div>
    <% if current_user.admin? %>
      <div>
        <%= f.check_box :approved, id: 'approved' %>
        <%= f.label :approved, 'Listing Approved' %>
      </div>
    <% end %>
    <div>
      <%= f.submit 'Update Status', class: 'btn btn-warning btn-xs',
                                    id: 'status-update' %>
    </div>
  <% end %>
</div>
