<div id='bicycle-ca-provinces'>
  <%= f.label :region, 'Province' %>
  <%= f.select :region, Geography::PROVINCES, :include_blank => '--' %>
</div>
<div>
  <%= f.label :city, 'City' %>
  <%= f.text_field :city, placeholder: 'City' %>
</div>
<div id='bicycle-ca-postal'>
  <%= f.label :postal_code, 'Postal/Zip Code' %>
  <%= f.input :postal_code %>
</div>
