<div id='bicycle-us-states'>
  <%= f.label :region, 'State' %>
  <%= f.select :region, Geography::STATES, :include_blank => '--' %>
</div>
<div>
  <%= f.label :city, 'City' %>
  <%= f.text_field :city, placeholder: 'City' %>
</div>
<div id='bicycle-us-zip'>
  <%= f.label :postal_code, 'Postal/Zip Code' %>
  <%= f.text_field :postal_code, placeholder: 'Zip/Postal Code' %>
</div>
