<%= form_for @bicycle do |f| %>
<div class='row'> 
  <div class='col-md-6'>
  <%= f.label 'Theft Date' %>
  <%= f.date_field :date, id: 'date_picker' %>
  <%= f.label :country, 'Country' %>
  <div><%= f.label :country, 'Country' %><%= f.select :country, ['Canada', 'United States'], {selected: 'United States'}, { class: 'bike-country' } %>
  </div>
  <%= f.label 'City' %>
  <%= f.text_field :city, placeholder: 'City' %> 
  <div id='bike-ca-provinces'>
    <% if @bicycle.country == 'Canada' %>
      <label for="user_region">Province</label>
      <select id="user_region" name="user[region]">
      <% PROVINCES.each do |abbr| %> 
        <option <%= 'selected="selected"' if @bicycle.region == abbr %> value=<%= abbr %>><%= abbr %></option>
      <% end %>
      <option <%= 'selected="selected"' if @bicycle.region == nil %> value="--">--</option></select>
    <% end %>
  </div>
  <div id='bike-ca-postal'>
    <% if @bicycle.country == 'Canada' %>
      <input id="user_postal_code" name="user[postal_code]" placeholder="Postal Code" type="text" />
    <% end %>
  </div>
  <div id='bike-us-states'>
    <% if @bicycle.country != 'Canada' %>
      <label for="user_region">State</label>
      <select id="user_region" name="user[region]">
      <% STATE_ABBREVIATIONS.each do |abbr| %> 
        <option <%= 'selected="selected"' if @bicycle.region == abbr %> value=<%= abbr %>><%= abbr %></option>
      <% end %>
      <option <%= 'selected="selected"' if @bicycle.region == nil %> value="--">--</option></select>
    <% end %>
  </div>
  <div id='bike-us-zip'>
    <% if @bicycle.country != 'Canada' %>
      <input id="user_postal_code" name="user[postal_code]" placeholder="Zip Code" type="text" />
    <% end %>
  </div>
  <%= f.label 'Description' %>
  <%= f.text_area :description, placeholder: 'min 30 char.' %>
  <%= f.label 'Serial' %>
  <%= f.text_field :serial, placeholder: 'PP123495877' %>
  <%= f.label 'Do you have proof of ownership?' %>
  <%= f.select :verified_ownership, [['yes', true], ['no', false]] %>
  <%= f.label 'Police report number' %>
  <%= f.text_field :police_report, placeholder: '1235463754' %>
  <%= f.label 'Reward' %>
  <%= f.text_field :reward, placeholder: '$50' %>
  <%= f.label 'Year' %>
  <%= f.text_field :year, placeholder: '2007' %>
  <%= f.label 'Brand' %>
  <%= f.text_field :brand, placeholder: 'Schwinn' %>
  <%= f.label 'Model' %>
  <%= f.text_field :model, placeholder: 'Le Tour' %>
  <%= f.label 'Color' %>
  <%= f.text_field :color, placeholder: 'Blue/Gray mix' %>
  <%= f.label 'Size' %>
  <%= f.text_field :size, placeholder: '27' %>
  <%= f.label 'Unit of Measurement' %>
  <%= f.select :size_type, ['cm', 'in'] %>
  <%= f.label 'Photo' %>
  <%= f.file_field :photo %>
  <%= f.submit 'Register' %>
  </div>
</div>
<% end %>
