<div class='well'>
  <div class='form-center'>
    <h1 class= 'lead title'>Bike Form</h1>
    <hr>
    <%= form_for @bicycle do |f| %>
    <h5>* = required</h5>
    <div class="input-group">
      <span class="input-group-addon label-info">Theft Date *</span>
      <%= f.text_field :date, id: 'datepicker', class: "form-control" %>
    </div>
    <div>
      <%= f.select :country, [ 'Canada', 'United States'], selected: @bicycle.country,
                   :include_blank => 'Select Country *', class: 'bicycle-country' %>
    </div>
    <div class="input-group">
      <span class="input-group-addon label-info">City *</span>
      <%= f.text_field :city, value: @bicycle.city, class: "form-control", autocomplete: "off",
                       'data-provide'=>'typeahead', 'data-source' => AutoComplete::CITIES %>
    </div>
    <div id="regions-and-postal-codes">
      <% if @bicycle.in_canada? %>
        <%= render 'shared/ca_regions_and_postals', f: f %>
      <% else %>
        <%= render 'shared/us_regions_and_postals', f: f %>
      <% end %>
    </div>

    <div class="input-group">
      <span class="input-group-addon label-info">Description *<span class='br'>
        <small>(Min 30 chars)</small></span></span>
      <%= f.text_area :description, placeholder: 'Minimum 30 char.', class: "form-control" %>
    </div>

    <div class="input-group">
      <span class="input-group-addon label-info">Serial</span>
      <%= f.text_field :serial, placeholder: 'PP123495877', class: "form-control" %>
    </div>

    <div class="input-group">
      <span class="input-group-addon label-info">Police File #</span>
      <%= f.text_field :police_report, placeholder: '1235463754', class: "form-control" %>
    </div>

    <div class="input-group">
      <span class="input-group-addon label-info">Year #</span>
      <%= f.text_field :year, placeholder: '2007', class: "form-control" %>
    </div>

    <div class="input-group">
      <span class="input-group-addon label-info">Brand</span>
      <%= f.text_field :brand, placeholder: 'Schwinn', class: "form-control", autocomplete: "off",
                       'data-provide'=>'typeahead', 'data-source' => AutoComplete::BRANDS %>
    </div>

    <div class="input-group">
      <span class="input-group-addon label-info">Model</span>
      <%= f.text_field :model, placeholder: 'Le Tour', class: "form-control" %>
    </div>

    <div class="input-group">
      <span class="input-group-addon label-info">Color</span>
      <%= f.text_field :color, placeholder: 'Simple colors!', class: "form-control", autocomplete: "off",
                       'data-provide'=>'typeahead', 'data-source' => AutoComplete::COLORS %>
    </div>

    <div class="input-group">
      <span class="input-group-addon label-info">Size</span>
      <%= f.text_field :size, placeholder: '27', class: "form-control" %>
    </div>

    <div>
      <%= f.select :size_type, ['cm', 'in'], :include_blank => 'Size | cm or in'  %>
    </div>

    <div class="input-group">
      <span class="input-group-addon label-info">Photo</span>
      <%= f.file_field :photo %>
    </div>

    <div>
      <%= f.select :verified_ownership, [['YES', true], ['NO', false]],
                   include_blank: 'Do you have proof of ownership?' %>
    </div>

    <div>
      <%= f.submit 'Register', class: 'btn btn-success' %>
    </div>
    <% end %>
  </div>
</div>
