<% provide(:title, 'Search') %>
<br>
<div class="well sign-in center">
  <h3 class='lead'>Basic Search</h3>
  <%= form_tag search_path, method: 'get', class: 'form-inline' do %>
    <%= text_field_tag :query, nil, placeholder: 'Enter a search term' %>
    <%= submit_tag 'Search', class: 'btn btn-small btn-info' %>

  <% end %>

  <hr>

  <h3 class='lead'>Advanced Search</h3>
  <%= form_tag search_path, method: 'get', :class => "form-horizontal" do %>

  <div class="form-group">
    <div>
      <%= label_tag :query, 'Serial Number (full or partial):' %>
      <%= text_field :query, :serial, placeholder: 'Serial #' %>

      <%= label_tag :query, 'Year' %>
      <%= number_field :query, :year, placeholder: 'Year' %>

      <%= label_tag :brand, 'Brand' %>
      <%= text_field :query, :brand, placeholder: 'Make' %>

      <%= label_tag :model, 'Make' %>
      <%= text_field :query, :model, placeholder: 'Model' %>

      <%= label_tag :color, 'Color' %>
      <%= text_field :query, :color, placeholder: 'Color' %>
    </div>

    <div>
      <%= label_tag :postal_code, 'Postal Code' %>
      <%= text_field :query, :postal_code, placeholder: 'Postal Code' %>

      <%= label_tag :city, 'City' %>
      <%= text_field :query, :city, placeholder: 'City' %>

      <%= label_tag :region, 'Region/State' %>
      <%= text_field :query, :region, placeholder: 'Region/State' %>

      <%= label_tag :country, 'Country' %>
      <%= select :query, :country, [['USA', 'United States'], 'Canada', ], selected: 'United States' %>
    </div>
    <br>
    <%= submit_tag 'Search', class: 'btn btn-small btn-info' %>

  <% end %>
</div>
</div>

  <% if @bicycles && !@bicycles.empty? %>
    <p><%= pluralize(@bicycles.count, "search result") %>.</p>
    <%= will_paginate %>
    <table class='table table-hover'>
      <tr>
        <td>Photo</td>
        <td>Stolen</td>
        <td>Year</td>
        <td>Color</td>
        <td>Make</td>
        <td>Model</td>
        <td>City</td>
        <td>Region</td>
        <td>Country</td>
        <td>Serial</td>
      </tr>
      <% @bicycles.each do |bicycle| %>
        <tr>
          <td><a href=<%= bicycle_path(bicycle) %> >
            <%= image_tag bicycle.photo.url :thumb %>
          </a></td>
          <td><%= bicycle.date %></td>
          <td><%= bicycle.year %></td>   
          <td><%= bicycle.color %></td>
          <td><%= bicycle.brand %></td>
          <td><%= bicycle.model %></td>
          <td><%= bicycle.city %></td>
          <td><%= bicycle.region %></td>
          <td><%= bicycle.country %></td>
          <td><%= bicycle.serial %></td>      
        </tr>
      <% end %>
    </table>
    <%= will_paginate @bicycles %>

    <% elsif @bicycles %>
    <p><%= pluralize(@bicycles.count, "search result") %>.</p>
  <% end %>