<% provide(:title, 'Search') %>

<div class="center hero-unit">
  <h3>Basic Search</h3>
  <%= form_tag search_path, method: 'get', class: 'form-inline' do %>
    <%= text_field_tag :query, nil, placeholder: 'search terms' %>
    <%= submit_tag 'Search', class: 'btn btn-small btn-info', id: 'basic-search' %>
  <% end %>

  <hr>

  <h3>Advanced Search</h3>
  <%= form_tag search_path, method: 'get' do %>

    <div><p>Bike Details</p>
      <div><%= label_tag :query, 'Serial Number (full or partial):' %>
      <%= text_field :query, :serial, placeholder: 'PR2345475' %></div>

      <div><%= label_tag :query, 'Year' %>
      <%= number_field :query, :year, placeholder: '2012' %></div>

      <div><%= label_tag :brand, 'Brand' %>
      <%= text_field :query, :brand, placeholder: 'Schwinn' %></div>

      <div><%= label_tag :model, 'Make' %>
      <%= text_field :query, :model, placeholder: 'Sportera' %></div>

      <div><%= label_tag :color, 'Color' %>
      <%= text_field :query, :color, placeholder: 'Blue' %></div>
    </div>

    <div><p>Theft Details</p>
      <div><%= label_tag :postal_code, 'Postal Code' %>
      <%= text_field :query, :postal_code, placeholder: '97212' %></div>

      <div><%= label_tag :city, 'City' %>
      <%= text_field :query, :city, placeholder: 'Vancouver' %></div>

      <div><%= label_tag :region, 'Region/State' %>
      <%= text_field :query, :region, placeholder: 'WA or BC' %></div>

      <div><%= label_tag :country, 'Country' %>
      <%= select :query, :country, [['USA', 'United States'], 'Canada', ['all', '']], selected: '' %></div>

      <div><%= check_box('query', 'recovered') %>
      <%= label(:recovered, "Include recovered bikes in results") %></div>

    </div>
    <%= submit_tag 'Search', class: 'btn btn-small btn-info', id: 'advanced-search' %>
  <% end %>
</div>

  <% if @bicycles && !@bicycles.empty? %>
    <p><%= pluralize(@bicycles.count, "search result") %>.</p>
    <%= will_paginate %>
    <table class='table table-hover'>
      <tr>
        <td>Photo</td>
        <td>Stolen</td>
        <td>Year</td>
        <td>Color</td>
        <td>Make</td>
        <td>Model</td>
        <td>City</td>
        <td>Region</td>
        <td>Country</td>
        <td>Serial</td>
      </tr>
      <% @bicycles.each do |bicycle| %>
        <tr>
          <td><a href=<%= bicycle_path(bicycle) %> >
            <%= image_tag bicycle.photo.url :thumb %>
          </a></td>
          <td><%= bicycle.date %></td>
          <td><%= bicycle.year %></td>   
          <td><%= bicycle.color %></td>
          <td><%= bicycle.brand %></td>
          <td><%= bicycle.model %></td>
          <td><%= bicycle.city %></td>
          <td><%= bicycle.region %></td>
          <td><%= bicycle.country %></td>
          <td><%= bicycle.serial %></td>      
        </tr>
      <% end %>
    </table>
    <%= will_paginate @bicycles %>

    <% elsif @bicycles %>
    <p><%= pluralize(@bicycles.count, "search result") %>.</p>
  <% end %>