<% provide(:title, 'Register') %>
<div>Required
<%= form_for @bicycle do |f| %>
  <%= f.label 'Theft Date' %>
  <%= f.date_field :date %>
  <%= f.label 'City' %>
  <%= f.text_field :city, placeholder: 'City' %> 
  <%= f.label 'State' %>
  <%= f.select :state, ['AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'FL', 'GA', 'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 'MA', 'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY', 'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VT', 'VA', 'WA', 'WV', 'WI', 'WY', 'AS', 'DC', 'FM', 'GU', 'MH', 'MP', 'PW', 'PR', 'VI', 'AA', 'AE', 'AP'] %>
  <%= f.label 'Description' %>
  <%= f.text_area :description, placeholder: 'Min 20 characters' %>
</div>
<hr>
<div>Optional
  <%= f.label 'Serial' %>
  <%= f.text_field :serial, placeholder: 'PP1234' %>
  <%= f.label 'Do you have proof of ownership?' %>
  <%= f.select :verified_ownership, [['yes', true], ['no', false]] %>
  <%= f.label 'Police report number' %>
  <%= f.text_field :police_report %>
  <%= f.label 'Reward' %>
  <%= f.text_field :reward %>
  <%= f.label 'Year' %>
  <%= f.text_field :year %>
  <%= f.label 'Brand' %>
  <%= f.text_field :brand %>
  <%= f.label 'Model' %>
  <%= f.text_field :model %>
  <%= f.label 'Color' %>
  <%= f.color_field :color %>
  <%= f.label 'Size' %>
  <%= f.text_field :size %>
  <%= f.label 'Unit of Measurement' %>
  <%= f.select :size_type, ['cm', 'in'] %>

  <%= f.submit %>
<% end %>
