<% provide(:title, '| Listing') %>
<h1 class="lead"> Stolen Bike Listing: </h1>
<div class='row container'>
  <a href="https://twitter.com/share"
     class="twitter-share-button"
     data-text="Help find this bike:"
     data-via="StolenBikeReg">
  </a>
  <% if user_signed_in? && current_user == @bicycle.user %>
      <p>
        <%= link_to 'Edit', edit_bicycle_path(@bicycle) %> |
        <%= link_to 'Delete', bicycle_path(@bicycle), method: 'delete', data: { confirm: "Are you sure you want to delete this listing?" } %> |
        <%= link_to 'My Account', user_path(@bicycle.user) %>
      </p>
  <% end %>
</div>
<div class="row">
  <div class='col-md-4'>
    <table class="table table-bordered">

      <% if @bicycle.hidden %>
        <tr>
          <td colspan='2', class='btn-danger center'>Listing is currently hidden.</td>
        </tr>
      <% end %>

      <tr>
        <td><%= image_tag @bicycle.photo.url :medium %></td>
      </tr>
      <tr>
        <td class='btn-info'>Description</td>
      </tr>
      <tr>
        <td><%= @bicycle.description %></td>
      </tr>
      <tr>
        <td align="center">
          <h3 class="lead">
            Have you seen me? Email us now if you have any info on my whereabouts.
          </h3>
          <a href="mailto:bhance@gmail.com" class="btn btn-success btn-lg">
           FOUND IT!
          </a>
        </td>
      </tr>
    </table>
  </div>

  <div class='col-md-8'>
    <table class="table table-bordered">
      <tr>
        <td colspan='2' class='btn-info'><strong>Theft Information</strong></td>
      </tr>
      <tr>
        <td>Theft Date:</td>
        <td><%= @bicycle.date %></td>
      </tr>
      <tr>
        <td>Location:</td>
        <td>
          <%= @bicycle.city %>,
          <%= @bicycle.region %>
          <%= @bicycle.postal_code %>
          <%= @bicycle.country %>
        </td>
      </tr>
      <tr>
        <td colspan='2' class='btn-info'><strong>Bicycle Information</strong></td>
      </tr>
      <tr>
        <td>Serial Number:</td>
        <td><strong><%= @bicycle.serial %></strong></td>
      </tr>
      <tr>
        <td>Year:</td>
        <td><%= @bicycle.year %></td>
      </tr>
      <tr>
        <td>Brand:</td>
        <td><%= @bicycle.brand %></td>
      </tr>
      <tr>
        <td>Model:</td>
        <td><%= @bicycle.model %></td>
      </tr>
      <tr>
        <td>Color:</td>
        <td><%= @bicycle.color %></td>
      </tr>
      <tr>
        <td>Size:</td>
        <td>
          <%= @bicycle.size %>
          <%= @bicycle.size_type %>
        </td>
      </tr>
      <tr>
        <td colspan='2' class='btn-info'><strong>Contact Information</strong></td>
      </tr>
      <tr>
        <td>First Name:</td>
        <td>
          <% if @bicycle.user.first_name_public %>
            <%= @bicycle.user.first_name %>
          <% else %>
            <p class="text-muted">private</p>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>Last Name:</td>
        <td>
          <% if @bicycle.user.last_name_public %>
            <%= @bicycle.user.last_name %>
          <% else %>
            <p class="text-muted">private</p>
          <% end %>
        </td>
      <tr>
        <td>Email:</td>
        <td>
          <% if @bicycle.user.email_public %>
            <%= @bicycle.user.email %>
          <% else %>
            <p class="text-muted">Email not publicly available.</p>
            <p class="text-muted">Contact <a href="mailto:bhance@gmail.com">S.B.R. admin</a> with questions regarding this listing<p>
          <% end %>
        </td>
      </tr>
      <% if @bicycle.not_approved? %>
        <tr>
          <td colspan='2' class='btn-warning'><strong>Listing created at: <%= @bicycle.created_at %>, PENDING ADMIN APPROVAL.</strong></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
