<h1> Stolen Bike Listing: </h1>
<%= @bicycle.user.email %>

<%= image_tag @bicycle.photo.url :medium %> 

<%=  @bicycle.date %> 
<%= @bicycle.city %>
<%= @bicycle.region %>
<%= @bicycle.country %>
<%= @bicycle.description %>
<%= @bicycle.postal_code %>
<%= @bicycle.serial %>
<%= @bicycle.verified_ownership %>
<%= @bicycle.year %>
<%= @bicycle.brand %>
<%= @bicycle.model %>
<%= @bicycle.color %>
<%= @bicycle.size %><%= @bicycle.size_type %>





