<h1> Stolen Bike Listing: </h1>
<%= @bicycle.user.email %>

<%= image_tag @bicycle.photo.url %> 

<%= @bicycle.date %> 
<%= @bicycle.city %>
<%= @bicycle.region %>
<%= @bicycle.country %>
<%= @bicycle.description %>
