<!DOCTYPE html>
<html>
  <head>
    <title>StolenBicycleRegistry</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>  
  <body>
    <div class="container">
      <h1>Stolen Bicycle Registry</h1>
    
      <%= render 'shared/navbar' %>
      <%= render 'shared/main_links' %>
    
      <%= yield %>

      <% if flash[:notice] %>
        <div class="alert alert-info">
          <%= flash[:notice] %>
        </div>
      <% end %>

      <% if flash[:alert] %>
        <div class="alert alert-danger">
          <%= flash[:alert] %>
        </div>
      <% end %>

      # <% unless Rails.env.test? %>
        <div class="donate">
          <a href="https://www.paypal.com/us/cgi-bin/webscr?cmd=_flow&SESSION=lKcHmY1viFh_M2iQR3vjcQ9_N_AdyEsBwTJtpd9rBMLq93uNFYVTqyJY9O4&dispatch=50a222a57771920b6a3d7b606239e4d529b525e0b7e69bf0224adecfb0124e9b61f737ba21b08198c3bf94e94910b985bd4617670ff63b3b" target="_blank"><%= image_tag "dtbt_400.jpg", :class => "img-responsive", :alt => "Donate to the SBR!" %><div>Donate $2.50 and get free stickers!</div></a>
        </div>

        <hr>

        <div class="google-ad">
          <script type="text/javascript"><!--
            google_ad_client = "pub-8815800758382772";
            /* 468x60, created 11/23/08 */
            google_ad_slot = "8923588004";
            google_ad_width = 468;
            google_ad_height = 60;
          </script>
          <script type="text/javascript"
          src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
          </script>
        </div>
      <% end %>
    
      <hr>

      <footer>
        <p>©
          <a href="mailto:bhance@gmail.com">Bryan Hance</a>
           / 
          <a href="#" target="_blank">our privacy policy</a>
        </p>
      </footer>
    </div>
  </body>
</html>
