<!DOCTYPE html>
<html>
  <head>
    <title>Stolen Bicycle Registry <%= yield(:title) %></title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Lato:900' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <div class="container">
      <% if flash[:notice] %>
        <div class="alert alert-info">
          <%= flash[:notice] %>
        </div>
      <% end %>

      <% if flash[:alert] %>
        <div class="alert alert-danger">
          <%= flash[:alert] %>
        </div>
      <% end %>
      
      <%= yield %>

      <div class="donate">
        <a href="https://www.paypal.com/us/cgi-bin/webscr?cmd=_flow&SESSION=lKcHmY1viFh_M2iQR3vjcQ9_N_AdyEsBwTJtpd9rBMLq93uNFYVTqyJY9O4&dispatch=50a222a57771920b6a3d7b606239e4d529b525e0b7e69bf0224adecfb0124e9b61f737ba21b08198c3bf94e94910b985bd4617670ff63b3b" target="_blank"><%= image_tag "dtbt_400.jpg", :class => "img-responsive", :alt => "Donate to the SBR!" %><div>Donate $2.50 and get free stickers!</div></a>
      </div>

      <hr>
      <%= render 'shared/google_ad' %>
      <hr>

      <footer>
        <p class="fixed-bottom">©
          <a href="mailto:bhance@gmail.com">Bryan Hance</a>
           / 
          <a href="#" target="_blank">our privacy policy</a>
        </p>
      </footer>
    </div>
  </body>
</html>
